
@{
    ViewBag.Title = "Perfil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="bannerprincipal card-header">
                    <h4 class="title">Visualizar Perfil</h4>
                    <p class="category">Esta informacion tenemos registrada en la base de datos</p>
                </div>
                <div class="card-content">
                    <form role="form">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label" for="inputid">Numero de Cedula</label>
                                    <input type="text" class="form-control" id="inputid" placeholder="101110111" value="">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label" for="inputnombre">Nombre Completo</label>
                                    <input type="email" class="form-control" id="inputnombre" placeholder="Nombre completo" value="">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label" for="inputcareer">Correo Electronico</label>
                                    <input type="text" class="form-control" id="inputcareer" placeholder="ejemplo@micorreo.com" value="">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label" for="inputfecha">Fecha de Nacimiento</label>
                                    <input type="email" class="form-control" id="inputfecha" placeholder="1/1/1900" value="">
                                </div>
                            </div>
                            <!--<button type="submit" class="btn btn-primary pull-right">Submit</button>-->
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-profile">
                <div class="card-avatar">
                    <a href="#pablo">
                        <img class="img" src="@Url.Content("~/Content/imgs/user_icon.png")">
                    </a>
                </div>
                <div class="content">
                    <h6 class="category text-gray">Universidad Tecnica Nacional</h6>
                    <h4 class="card-title">Calidad con excelencia</h4>
                    <p class="card-content">
                       
                    </p>
                   
                </div>
            </div>
        </div>
    </div>
</div>

