@{
    ViewBag.Title = "Registro";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="card">
                <div class="card-header card-header-icon" data-background-color="green">
                    <h4 class="title"><i class="material-icons">&#xE894;</i>Crear Perfil</h4>
                    <p class="category">Aca puedes comenzar tu registro en el proceso de admision</p>
                </div>
                <div class="card-content">
                    <h4 class="card-title">Global Sales by Top Locations</h4>
                    <div class="row">
                        <div class="col-md-12">
                            <form role="form">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label" for="inputcedula">Numero de Cedula</label>
                                            <input type="text" class="form-control" id="inputcedula" placeholder="Ingrese numero de cedula">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label" for="inputpass">Contraseña</label>
                                            <input type="password" class="form-control" id="inputpass" placeholder="Ingrese una contraseña">
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary pull-right">Comenzar Registro</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>