@{
    ViewBag.Title = "Registro";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="card">
                <div class="bannerprincipal card-header card-header-icon" >
                    <h4 class="title"><i class="material-icons">&#xE894;</i> Crear Perfil</h4>
                    <p class="category">Aca puedes comenzar tu registro en el proceso de admision</p>
                </div>
                <div class="card-content">
                    
                    <div class="row">
                        <div class="col-md-12">
                            <form role="form">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="control-label" for="inputcedula">Numero de Cedula</label>
                                            <input type="text" class="form-control" id="inputcedula" placeholder="Ingrese numero de cedula">
                                            <label class="control-label" for="inputpass">Contraseña</label>
                                            <input type="password" class="form-control" id="inputpass" placeholder="Ingrese una contraseña">
                                            <label class="control-label" for="inputpass">Confirmar Contraseña</label>
                                            <input type="password" class="form-control" id="inputpass" placeholder="Vuelva a ingrese la contraseña">
                                            <button type="submit" class="btnprincipal btn  pull-right">Aceptar</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>