@model ProyectoIngenieria.Models.AspiranteMEP

@{
    ViewBag.Title = "DatosMep";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="bannerprincipal card-header">
                    <h4 class="title">Datos MEP</h4>
                    <p class="category">Esta informacion tenemos registrada en la base de datos</p>
                </div>
                <div class="card-content">
                    <form role="form">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label" for="inputid">Nota de presentacón</label>
                                    <input type="text" class="form-control" id="inputNota" placeholder="26 a 40" value="">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label" for="inputnombre">Colegio</label>
                                    <input type="text" class="form-control" id="inputnombreColegio" placeholder="Nombre completo del colegio" value="">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label" for="inputcareer">Año de egreso</label>
                                    <input type="text" class="form-control" id="inputAnno" placeholder="1989" value="">
                                </div>
                            </div>

                            <!--<button type="submit" class="btn btn-primary pull-right">Submit</button>-->
                            <button type="button" class="btnprincipal btn">Atras</button>
                            <button type="button" class="btnprincipal btn">Siguiente</button>

                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-profile">
                <div class="card-avatar">
                    <a href="#pablo">
                        <img class="img" src="@Url.Content("~/Content/imgs/user_icon.png")">
                    </a>
                </div>
                <div class="content">
                    <h6 class="category text-gray">Universidad Tecnica Nacional</h6>
                    <h4 class="card-title">Calidad con excelencia</h4>
                    <p class="card-content">

                    </p>

                </div>
            </div>
        </div>
    </div>
</div>


