@model ProyectoIngenieria.Models.Aspirante
@{
    ViewBag.Title = "Inicio";
    //#adc5e6  - celeste. #0d2d6d -azul
}



<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="bannerprincipal card-header card-header-icon">
                    <!--</div>data-background-color="green"-->
                    <h4 class="card-title"><i class="material-icons">&#xE894;</i> Noticias de la UTN</h4>
                </div>
                <div class="card-content">
                    <div class="row">
                        <div style="max-width:100%">
                            <img class="mySlides" src="~/Content/imgs/admision1.jpg" style="width:100%">
                            <img class="mySlides" src="~/Content/imgs/admision2.jpg" style="width:100%">
                            <img class="mySlides" src="~/Content/imgs/admision3.jpg" style="width:100%">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="bannersecundoario card-header card-header-icon">
                    <!--data-background-color="blue"-->
                    <h4 class="card-title"><i class="material-icons">&#xE894;</i> Links de importancia</h4>
                </div>
                <div class="card-content">
                    <div class="row">
                        <ul>
                            <li>
                                <a href="http://utn.ac.cr/sites/default/files/attachments/Preguntas%20frecuentes%20para%20la%20admisi%C3%B3n%20nuevo%20ingreso%202018.pdf">Preguntas Frecuentes del proceso</a>
                            </li>
                            <li>
                                <a href="http://utn.ac.cr/sites/default/files/attachments/Protocolo%20de%20Admisi%C3%B3n%202018.pdf">Protocolo del proceso de admision</a>
                            </li>
                            <li>
                                <a href="http://utn.ac.cr/sites/default/files/attachments/Pol%C3%ADticas%20de%20admisi%C3%B3n%202018.pdf">Politica del proceso de admision</a>
                            </li>
                            <li>
                                <a href="http://utn.ac.cr/sites/default/files/attachments/CUPOS%20NUEVO%20INGRESO%202018.pdf">CARRERAS AUTORIZADAS Y CUPOS POR SEDE PARA ADMISIÓN DE NUEVO INGRESO 2019</a>
                            </li>
                            <li>
                                <a href="http://utn.ac.cr/sites/default/files/attachments/Ciclo%20Introductorio%20para%20aspirantes%20de%20nuevo%20ingreso%202018%20oficial%20para%20la%20web_0.pdf">INFORMACIÓN SOBRE EL CICLO INTRODUCTORIO (EXCLUSIVO PARA ESTUDIANTES NUEVO INGRESO 2019)</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="bannersecundoario card-header card-header-icon" style="background-color: #FF9400">
                <!--data-background-color="red"-->
                <h4 class="card-title"><i class="material-icons">&#xE894;</i> Comenzar mi proceso de admision</h4>
            </div>
            <div class="card-content">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label" for="inputcedula">Numero de Identificacion Personal</label>
                                @Html.EditorFor(model => model.Cedula, new { htmlAttributes = new { @class = "form-control", @id = "inputcedula", placeholder = "Ingrese numero de cedula" } })
                                <label class="control-label" for="inputcarrera1">Opcion de carrera 1</label>
                                @Html.DropDownListFor(m => m.Carrera1, new SelectList(Enum.GetValues(typeof(Carrera))), new { @class = "form-control" })
                                <label class="control-label" for="inputcarrera2">Opcion de carrera 2</label>
                                @Html.DropDownListFor(m => m.Carrera2, new SelectList(Enum.GetValues(typeof(Carrera))), new { @class = "form-control" })
                                <button type="submit" class="btnprincipal btn  pull-right">Aceptar</button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>



</div>

<script>
    var myIndex = 0;
    carousel();

    function carousel() {
        var i;
        var x = document.getElementsByClassName("mySlides");
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        myIndex++;
        if (myIndex > x.length) { myIndex = 1 }
        x[myIndex - 1].style.display = "block";
        setTimeout(carousel, 4000); // Change image every 4 seconds
    }
</script>