
@{
    ViewBag.Title = "ResultadoAdmision";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="card">
                <div class="bannerprincipal card-header card-header-icon">
                    <h4 class="title"><i class="material-icons">&#xE894;</i> Resultado del proceso de admision</h4>
                    <p class="category">Si ingreso algun dato manualmente debe presentarse a la oficina de registro para verificar estos datos</p>
                </div>
                <div class="card-content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card card-stats">
                                        <div class="card-header card-header-success card-header-icon">
                                            <div class="card-icon">
                                                <i class="material-icons">grade</i>
                                            </div>
                                            <p class="card-category">Nota de presentacion</p>
                                            <h3 class="card-title">8</h3>
                                        </div>
                                        <div class="card-footer">
                                            <p>Aspirante: Marny A. Lopez Lopez</p>
                                            <p>Fecha de admision: 04/07/2018</p>
                                            <p>Carrera 1: Ing. Del Software</p>
                                            <p>Carrera 2: Ing. En Electronica</p>
                                        </div>
                                    </div>
                                    <div>
                                        <p>Tus datos se han almacenado en el sistema automaticamente, puedes cerrar la aplicacion.</p>
                                        <p>Dudas con respecto al proceso de admision</p>
                                        <ul>
                                            <li>registro@utn.ac.cr</li>
                                            <li>2435-5000, ext. 8221, 8222, 8223, 8224,8225,8226</li>
                                            <li>Oficina de Registro UTN 7:00am - 06:00pm L-V</li>
                                        </ul>
                                    </div>
                                    <a href="http://www.utn.ac.cr/admision" class="btnprincipal btn  pull-right">
                                        <i class="material-icons">info</i> Mas Informacion del proceso
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


